/* 2xs */
@media (min-width: 280px) {
    .info_box {
        width: 380px;
    }
    .citysearch {
        position: relative;
        height: 45px;
        width: 98%;
        display: flex;
        align-items: center;
    }
    .citysearch input {
        position: absolute;
        height: 100%;
        width: 77.5%;
        border: 0;
        font-size: 21px;
        outline: none;
        font-weight: bold;
        padding: 0px 48px 0px 42px;
        border-radius: 55px;
    }
    .citysearch button {
        position: absolute;
        transition: 0.5s;
        right: 0;
        width: 40px;
        border-radius: 55px;
        height: 100%;
        background: transparent;
        font-size: 28px;
        padding: 0px 40px 0px 0px;
    }
    .mcitydet {
        float: left;
        padding: 30px;
        width: 100%;
        .cityname {
            font-size: 32px;
            font-weight: bold;
        }
        .callr {
            font-size: 20px;
        }
    }
    .micon {
        float: left;
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .micon img {
        height: 140px;
    }
    .mtempnstatus {
        float: right;
        #mtemp {
            font-size: 62px;
            font-weight: bolder;
            margin: 22px 15px 0px 0px;
        }
        #mstatus {
            font-size: 20px;
            font-style: italic;
        }
    }
    .middlegap {
        height: 10px;
        width: 100%;
    }
    .nextdetails {
        height: 35%;
        width: 100%;
        font-size: 20px;
        font-weight: bold;
    }
    .nextgapp {
        height: 50px;
        width: 100%;
    }
    .windd {
        height: 70px;
        width: 96%;
        text-align: left;
        padding-top: 2%;
        padding-left: 4%;
    }
    .humid {
        height: 70px;
        width: 96%;
        text-align: left;
        padding-top: 2%;
        padding-left: 4%;
    }
    .visib {
        height: 70px;
        width: 96%;
        text-align: left;
        padding-top: 2%;
        padding-left: 4%;
    }
    #materialicons {
        float: left;
        font-size: 46px;
        margin-right: 20px;
        padding-top: 10px;
    }
    #windval, #humidval, #visibval{
        float: left;
    }
}

/* xs */
 @media (min-width: 475px) {
    .info_box {
        width: 465px;
    }
    .citysearch {
        position: relative;
        height: 45px;
        width: 98%;
        display: flex;
        align-items: center;
    }
    .citysearch input {
        position: absolute;
        height: 100%;
        width: 82%;
        border: 0;
        font-size: 20px;
        outline: none;
        font-weight: bold;
        padding: 0px 48px 0px 42px;
        border-radius: 55px;
    }
    .citysearch button {
        position: absolute;
        transition: 0.5s;
        right: 0;
        width: 40px;
        border-radius: 55px;
        height: 100%;
        border: none;
        outline: none;
        background: transparent;
        font-size: 28px;
        cursor: pointer;
    }
    .mcitydet {
        float: left;
        padding: 30px;
        width: 100%;
        .cityname {
            font-size: 38px;
            font-weight: bold;
        }
        .callr {
            font-size: 20px;
        }
    }
    .micon {
        float: left;
        padding: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .micon img {
        height: 150px;
    }
    .mtempnstatus {
        float: right;
        #mtemp {
            font-size: 62px;
            font-weight: bolder;
            margin: 22px 15px 0px 0px;
        }
        #mstatus {
            font-size: 20px;
            font-style: italic;
        }
    }
    .middlegap {
        height: 10px;
        width: 100%;
    }
    .nextdetails {
        height: 35%;
        width: 100%;
        font-size: 22px;
        font-weight: bold;
    }
    .nextgapp {
        height: 50px;
        width: 100%;
    }
    .windd {
        height: 70px;
        width: 96%;
        text-align: left;
        padding-top: 2%;
        padding-left: 4%;
    }
    .humid {
        height: 70px;
        width: 96%;
        text-align: left;
        padding-top: 2%;
        padding-left: 4%;
    }
    .visib {
        height: 70px;
        width: 96%;
        text-align: left;
        padding-top: 2%;
        padding-left: 4%;
    }
    #materialicons {
        float: left;
        margin-right: 20px;
        padding-top: 8px;
    }
    #windval, #humidval, #visibval{
        float: left;
    }
 } 

/* sm */
 @media (min-width: 640px) {
    .info_box {
        width: 600px;
    }
    .citysearch {
        position: relative;
        height: 55px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .citysearch input {
        position: absolute;
        height: 100%;
        width: 85%;
        font-size: 22px;
        padding: 0px 48px 0px 42px;
    }
    .citysearch button {
        right: 0;
        width: 40px;
        border-radius: 55px;
        height: 100%;
        font-size: 28px;
        padding: 0px 50px 0px 5px;
    }
    .maindetails {
        height: 300px;
    }
    .mcitydet {
        float: left;
        width: 90%;
        padding: 30px;
        .cityname {
            font-size: 48px;
            font-weight: bold;
        }
        .callr {
            font-size: 18px;
        }
    }
    .micon {
        float: left;
        padding: 30px;
        display: flex;
        width: 40%;
        justify-content: center;
        align-items: center;
    }
    .micon img {
        height: 200px;
    }
    .mtempnstatus {
        float: right;
        width: 40%;
        #mtemp {
            font-size: 62px;
            font-weight: bolder;
            margin: 72px 26px 0px 0px;
        }
        #mstatus {
            font-size: 16px;
            font-style: italic;
        }
    }
    .middlegap {
        height: 10px;
        width: 100%;
    }
    .nextdetails {
        height: 35%;
        width: 100%;
        font-size: 24px;
        font-weight: bold;
    }
    .nextgapp {
        height: 50px;
        width: 100%;
    }
    .windd {
        height: 75px;
        width: 96%;
        text-align: left;
        padding-top: 2%;
        padding-left: 4%;
    }
    .humid {
        height: 75px;
        width: 96%;
        text-align: left;
        padding-top: 2%;
        padding-left: 4%;
    }
    .visib {
        height: 75px;
        width: 96%;
        text-align: left;
        padding-top: 2%;
        padding-left: 4%;
    }
    #materialicons {
        float: left;
        margin-right: 20px;
        padding-top: 8px;
    }
    #windval, #humidval, #visibval{
        float: left;
    }
 } 

/* md */
 @media (min-width: 768px) {
    .info_box {
        width: 750px;
    }
    .citysearch {
        position: relative;
        height: 55px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .citysearch input {
        position: absolute;
        height: 100%;
        width: 88%;
        font-size: 22px;
        padding: 0px 48px 0px 42px;
    }
    .citysearch button {
        right: 0;
        width: 40px;
        border-radius: 55px;
        height: 100%;
        font-size: 28px;
        padding: 0px 50px 0px 5px;
    }
    .maindetails {
        height: fit-content;
    }
    .mcitydet {
        width: 100%;
        padding: 30px;
        .cityname {
            font-size: 48px;
            font-weight: bold;
        }
        .callr {
            font-size: 18px;
        }
    }
    .ictemp {
        height: 460px;
        width: 100%;
    }
    .micon {
        float: left;
        padding: 15px;
        display: flex;
        width: 40%;
        justify-content: center;
        align-items: center;
    }
    .micon img {
        height: 200px;
    }
    .mtempnstatus {
        float: right;
        width: 40%;
        #mtemp {
            font-size: 62px;
            font-weight: bolder;
            margin: 72px 26px 0px 0px;
        }
        #mstatus {
            font-size: 16px;
            font-style: italic;
        }
    }
    .middlegap {
        height: 10px;
        width: 100%;
    }
    .nextdetails {
        height: 35%;
        width: 100%;
        font-size: 20px;
        font-weight: bold;
    }
    .nextgapp {
        height: 100px;
        float: left;
        width: 2.5%;
        /* background-color: aqua; */
    }
    .windd {
        height: 85%;
        padding-top: 10px;
        align-items: center;
        text-align: center;
        padding-left: 0;
        width: 30%;
        float: left;
    }
    .humid {
        height: 85%;
        padding-top: 10px;
        align-items: center;
        text-align: center;
        padding-left: 0;
        width: 30%;
        float: left;
    }
    .visib {
        height: 85%;
        padding-top: 10px;
        align-items: center;
        text-align: center;
        padding-left: 0;
        width: 30%;
        float: left;
    }
    #materialicons {
        float:none;
        margin-right: 0;
    }
    #windval, #humidval, #visibval{
        float: none;
    }
 } 

/* lg */
 @media (min-width: 1024px) {
    .info_box {
        width: 1012px;
    }
    .citysearch {
        position: relative;
        height: 55px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .citysearch input {
        position: absolute;
        height: 100%;
        width: 91%;
        font-size: 23px;
        padding: 0px 48px 0px 42px;
    }
    .citysearch button {
        right: 0;
        width: 40px;
        border-radius: 55px;
        height: 100%;
        font-size: 28px;
        padding: 0px 50px 0px 5px;
    }
    .maindetails {
        height: 300px;
    }
    .mcitydet {
        float: left;
        width: 50%;
        padding: 30px;
        .cityname {
            font-size: 48px;
            font-weight: bold;
        }
        .callr {
            font-size: 20px;
        }
    }
    .micon {
        float: left;
        padding: 20px;
        padding-top: 40px;
        display: flex;
        width: 20%;
        justify-content: center;
        align-items: center;
    }
    .micon img {
        height: 200px;
    }
    .mtempnstatus {
        float: left;
        width: 20%;
        #mtemp {
            font-size: 68px;
            font-weight: bolder;
            margin: 72px 0px 0px 0px;
        }
        #mstatus {
            font-size: 20px;
            font-style: italic;
        }
    }
    .nextdetails {
        height: 32%;
        font-size: 26px;
        font-weight: bold;
    }
    .nextgapp {
        height: 100px;
        float: left;
        width: 2.5%;
        /* background-color: aqua; */
    }
    .windd {
        height: 90%;
        border-radius: 30px;
        align-items: center;
        padding-top: 10px;
        text-align: center;
        width: 30%;
        float: left;
    }
    .humid {
        height: 90%;
        border-radius: 30px;
        align-items: center;
        text-align: center;
        padding-top: 10px;
        width: 30%;
        float: left;    
    }
    .visib {
        height: 90%;
        border-radius: 30px;
        align-items: center;
        text-align: center;
        padding-top: 10px;
        width: 30%;
        float: left;
    }
 } 

/* xl */
 @media (min-width: 1280px) {
    .info_box {
        width: 1260px;
    }
    .citysearch {
        position: relative;
        height: 55px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .citysearch input {
        position: absolute;
        height: 100%;
        width: 92.7%;
        font-size: 24px;
        padding: 0px 48px 0px 42px;
    }
    .citysearch button {
        right: 0;
        width: 40px;
        border-radius: 55px;
        height: 100%;
        font-size: 28px;
        padding: 0px 50px 0px 5px;
    }
    .maindetails {
        height: 300px;
    }
    .mcitydet {
        float: left;
        width: 50%;
        padding: 30px;
        .cityname {
            font-size: 50px;
            font-weight: bold;
        }
        .callr {
            font-size: 20px;
        }
    }
    .micon {
        float: left;
        padding: 40px;
        display: flex;
        width: fit-content;
        justify-content: center;
        align-items: center;
    }
    .micon img {
        height: 200px;
    }
    .mtempnstatus {
        float: left;
        #mtemp {
            font-size: 72px;
            font-weight: bolder;
            margin: 72px 0px 0px 0px;
        }
        #mstatus {
            font-size: 24px;
            font-style: italic;
        }
    }
 } 

/* 2xl */
 @media (min-width: 1536px) {
    .info_box {
        width: 1480px;
    }
    .citysearch {
        position: relative;
        height: 55px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .citysearch input {
        position: absolute;
        height: 100%;
        width: 93.5%;
        font-size: 24px;
        padding: 0px 48px 0px 42px;
    }
    .citysearch button {
        right: 0;
        width: 40px;
        border-radius: 55px;
        height: 100%;
        font-size: 28px;
        padding: 0px 50px 0px 5px;
    }
    .maindetails {
        height: 300px;
    }
    .mcitydet {
        float: left;
        width: 55%;
        padding: 30px;
        .cityname {
            font-size: 50px;
            font-weight: bold;
        }
        .callr {
            font-size: 20px;
        }
    }
    .micon {
        float: left;
        padding: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .micon img {
        height: 200px;
    }
    .mtempnstatus {
        float: left;
        #mtemp {
            font-size: 72px;
            font-weight: bolder;
            margin: 72px 0px 0px 0px;
        }
        #mstatus {
            font-size: 24px;
            font-style: italic;
        }
    }
 } 


 /* @media (min-height: 250px) {
    .info_box {
        height: 500px;
        margin-top: 45px;
    }
 } 

 @media (min-height: 620px) {
    .info_box {
        height: 600px;
        margin-top: 35px;
    }
 } 

 @media (min-height: 710px) {
    .info_box {
        height: 680px;
        margin-top: 50px;
    }
 } 

 @media (min-height: 800px) {
    .info_box {
        height: 750px;
        margin-top: 50px;
    }
 } 

 @media (min-height: 850px) {
    .info_box {
        height: 800px;
        margin-top: 30px;
    }
 } 

 @media (min-height: 910px) {
    .info_box {
        height: 820px;
        margin-top: 50px;
    }
 } 

 @media (min-height: 1024px) {
    .info_box {
        height: 920px;
        margin-top: 70px;
    }
 } 
 @media (min-height: 1080px) {
    .info_box {
        height: 950px;
        margin-top: 70px;
    }
 } 
 @media (min-height: 1200px) {
    .info_box {
        height: 1120px;
        margin-top: 80px;
    }
 }  */
 
 

 


 